/*JS18 Inspirational Quotes*/

/*http://image.desk7.net/Landscape%20Wallpapers/8446_1280x800.jpg*/

* {
	display: box;
}

body {
	background-image: url(http://image.desk7.net/Landscape%20Wallpapers/8446_1280x800.jpg);
}
h1 {
	text-align: center;
}
.template {
	display: none;
}
.quote_list {
	border: 1px solid red;
	margin-left: 10px;
	margin-right: 10px;
	padding-left:15px;
}
.quote_list .quote_text {
	padding-top: 20px;
	margin-left: 20px;
}
.quote_list .author {
	margin-left: 40px;
	padding-left:20px;
	border-bottom: 1px solid white;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
}
.form {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	border: 1px solid black;
}
.form .input_text {
	width:300px;
	text-align: center;
}
.form .input_author {
	width: 150px;
	text-align: center;
}
.btn {
	background-color: red;
	width: 100px;

}